.section-about {
    background-color: $color-white;
    padding-top: 5rem;
    padding-bottom: 32rem;
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .about__icon {
        font-size: 6rem;
        text-align: center;
        

        i {
            padding-right: 5rem;
            color: $color-gray-dark-3;
            transform: translate(0px, -16px);
        }
    }
}