.section-features {
    padding-bottom: 20rem;
    padding-top: 7rem;
    background-image: linear-gradient(to right bottom,
            rgba($color-gray-dark-3, 1),
            rgba($color-black, 1));
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -15rem; //Modified by me, because dont match with the corner, this affect the style. In the course used 10rem.
    
    &>* {
        transform: skewY(7deg); //select direct child, in this case the row to skew and put de boxes inline
    }

    @include respond(tab-land) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }




}