.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; //Right now all the elements are on position absolute and so they are also taken out of the natural flow and therefore the parent collapsed and los its height, when we this happens with floats, we have a clearfix but with position absolutethere is no such thing, we have to specify the same height that we gave to the card itself 

    &__side {

        //FUNCTIONALITY
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden; //To hide the back part of an element
        backface-visibility: hidden; //To hide the back part of an element
        border-radius: 3px;
        overflow: hidden; //to hide the overlap image 
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }
    
        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-tertiary-light);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-tertiary-light);
            }

            &-3 {
                 background-image: linear-gradient(to right bottom, $color-primary-light, $color-tertiary-light);
            }

        }
    }


    &:hover &__side--front {
        transform: rotateY(-180deg); //move the element in the other direction to create a continous effect
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 18rem;
        // background-blend-mode: screen;
        // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        // clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        // border-top-left-radius: 3px;
        // border-top-right-radius: 3px;

        &--1 {
            background-image: url(../../img/nat-5.jpg);
            // background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../../img/nat-5.jpg);
        }

        &--2 {
            background-image: url(../../img/nat-62.jpg);
            // background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-light),
            // url(../../img/nat-62.jpg);
        }

        &--3 {
            background-image: url(../../img/nat-7.jpg);
            // background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
            // url(../../img/nat-7.jpg);
        }
    }

    &__heading {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
        // transform: translate(0px, -230px);
        color: $color-white;
        background-color: rgba($color-black, $alpha: 0.8);

        // text-align: right;
        // color: $color-white;
        // position: absolute;
        // top: 1rem;
        // right: 2rem;
        // width: 75%;
    }

    &__heading-span {
        // padding: 1rem 1.5rem;
        // -webkit-box-decoration-break: slice;
        // box-decoration-break: slice; //The element is treated as one line of text, the padding gets applied on the left at the "the" and the right with "explorer", we want to treat the element like two lines. We use de box decoration break propert
        // // margin-right: 15rem;

        &--1 {
            // background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &--2 {
            // background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &--3 {
            // background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
             
            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-gray-light-2;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        //to center 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; //to fixed the btn
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    //Mediaquerie
    // @include respond(tab-port) {
    @media only screen and (max-width: 56.25em), only screen and (hover: none){
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {

        //FUNCTIONALITY
        height: auto;
        position: relative;
        box-shadow: none;
        
        &--back {
            transform: rotateY(0);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        }
    }

    &:hover &__side--front {
        transform: rotateY(0); //move the element in the other direction to create a continous effect
    }

    &__details {
        padding: 1rem 3rem;
    }

    // BACK SIDE STYLING
    &__cta {
        //to center 
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%; //to fixed the btn
        padding: 7rem 4rem 4rem;
    }

    &__price-box {
        margin-bottom: 3rem;
    }

    &__price-value {
        font-size: 4rem;
    }
    }
}

